body{
    background-color: #000000d0;
}
div {
    border: 5px;
    width: 500px;
    height: 300px;
    border-style: solid;
    border-color: #000266e0;
    padding: 12px;
}
p { 
    color: rgb(206, 211, 211);
}
.list {
    color: rgb(206, 211, 211);
}
button {
    background-color: #fdfdfdcc;
    font-weight: bold;
    font-size: 20px;
    margin: auto 16px;
    
}
img {
    margin: auto 26px;
    width: 275px;
    display:;
    box-sizing: content-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
     color: #789af7d0;
}