body{
    background-color: #000000d0;
}
div {
    border: 5px;
    width: 500px;
    height: 280px;
    border-style: solid;
    border-color: #000266e0;
    padding: 8px;
}
p { 
    color: rgb(206, 211, 211);
}
button {
    background-color: #fdfdfdcc;
    font-weight: bold;
    font-size: 20px;
    margin: auto 16px;
    
}
img {
    margin: auto 26px;
}
